@{
    Layout = "_Layout";
}

@model Factory.Models.Machine

<div class="container">

    <h4>Add a new machine</h4>
    <hr />
    @using (Html.BeginForm())
    {
        @Html.LabelFor(model => model.Type)
        @Html.TextBoxFor(model => model.Type)
        <p>@Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
        <br />
        <input type="submit" value="Add new machine" class="btn btn-primary" />
    }

    <div class="link-card">
        <p>@Html.ActionLink("Back to machines list", "Index")</p>
        <p>@Html.ActionLink("Main Page", "Index", "Home")</p>
    </div>

</div>