@{
  Layout = "_Layout";
}

@using Factory.Models;
@model Factory.Models.Machine;

<div class="container">
  <h2> Machine Details </h2>
  <hr />

  <h3>@Html.DisplayNameFor(model => model.Type): @Html.DisplayFor(model => model.Type)</h3>

  @if (@Model.JoinEntities.Count == 0)
  {
    <p>No Engineer is yet allowed on this machine</p>
  }
  else
  {
    <p>This engineers are allowed on this machine:</p>
    <ul>
      @foreach (EngineerMachine join in Model.JoinEntities)
      {
        <li>@Html.ActionLink($"{join.Engineer.Name}", "Details", "Engineers", new { id = join.Engineer.EngineerId })</li>
      }
    </ul>
  }
  
  <div class="link-card">
    @Html.ActionLink("Add engineer for machine", "AddEngineer", new { id = Model.MachineId })
    @Html.ActionLink("Edit machine's profile", "Edit", new { id = Model.MachineId })
    @Html.ActionLink("Delete machine's profile", "Delete", new { id = Model.MachineId })
  </div>
</div>
