@{
  Layout = "_Layout";
}

@using Factory.Models;
@model Factory.Models.Machine;

<div class="container">
  <h2> Machine Details </h2>
  <hr />

  <h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

  @if (@Model.JoinEntities.Count == 0)
  {
    <p>No Engineer is yet allowed on this machine</p>
  }
  else
  {
    <p>This engineers are allowed on this machine:</p>
    <ul>
      @foreach (Machine machine in Model)
      {
        <li>@Html.ActionLink($"{machine.Name}", "Details", new { id = machine.MachineId })</li>
      }
    </ul>
  }
  
</div>

<div class="link-card">
  <p>@Html.ActionLink("back to machines list", "Index")</p>
  <p>@Html.ActionLink("Main Page", "Index", "Home")</p>
</div>