@{
  Layout = "_Layout";
}

@using Factory.Models;
@model Factory.Models.Engineer;

<div class ="container">
  <h2>Engineer details</h2>
  <hr />

  @Html.DisplayNameFor(model => model.Name) : @Html.DisplayFor(model => model.Name)
  <br>

  @if (@Model.JoinEntities.Count == 0)
  {
    <p>This engineer is not working on any machine yet</p>
  }
  else
  {
    <p>Engineer allowed on: </p>
    <ul>
      @foreach(EngineerMachine join in Model.JoinEntities)
      {
        <li>
          @Html.ActionLink($"{join.Machine.Type}", "Details", "Machines", new { id = join.Machine.MachineId })
          @using (Html.BeginForm("DeleteJoin", "Machines"))
          {
            @Html.Hidden("joinId", @join.EngineerMachineId)
            <input type="submit" value="Delete" />
          }
        </li>
      }
    </ul>
  }

  <div class="link-card">
    @Html.ActionLink("Add machine for engineer", "AddMachine", new { id = Model.EngineerId })
    @Html.ActionLink("Edit engineer's profile", "Edit", new { id = Model.EngineerId })
    @Html.ActionLink("Delete engineer's profile", "Delete", new { id = Model.EngineerId })
  </div>

</div>